

:root {
  --logo-text-black: #000000;
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --primary-background: #F5F5F5;
  --second-background: #2F303A;
  --third-background:#F5F4FA;
  --second-text-color: #FFFFFF;
  --button-background: #188CE8;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-background: rgba(47, 48, 58, 1);
}

body {
    background-color: var(--primary-background);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol{
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}


.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}
  /* --------Header-------- */

  /* Logo */
  .logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: var(--logo-text-black);
    text-decoration: none;
  }

  .logo-span {
    color: var(--accent-color);
  }

/* Site nav */

  header {
    background-color: var(--second-text-color);
  }

  .header-nav{
    display: flex;
    align-items: center;  
  }

  .sity-nav{
      display: flex;
      margin-left: 93px;
      margin-right: 344px;
  }

  .sity-nav .item + .item {
      margin-left: 50px;
  }


  .sity-nav .link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;

      color: var(--primary-text-color);

      text-decoration: none;  
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14; 
      letter-spacing: 0.02em;  
  }

  .link:hover, .link:focus{
      color: var(--accent-color);
  }

  .sity-nav .open {
      color: var(--accent-color);

  }

/* Контакти */

.adr-nav{
  /* list-style: none; */
  display: flex;
}

  .adr-nav .item + .item{
    margin-left: 50px;
  }

  .nav-mail, .nav-tel {
      color: var(--title-text-color); 

      text-decoration: none;   
      font-style: normal;
      font-weight: 500; 
      font-size: 14px;
      line-height: 1.14;  
      letter-spacing: 0.02em;
  }

  .nav-mail:hover, .nav-tel:hover, .adr:hover,
  .nav-mail:focus, .nav-tel:focus, .adr:focus {
    color: var(--accent-color);
  }

  .line{
    border: 1px solid #ECECEC;
  }
/* --------main index-------- */

/* Головний банер */

  .hero{
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--second-background);

    text-align: center;
  }
  .hero > h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-text-color);
  }

  .hero-title{
    margin-bottom: 30px;
  }



/* Кнопка на сторінці Студія */

  .button {

  cursor: pointer;
  min-width: 216px;
  height: 50px; 
  background: var(--accent-color);
  border:none;
  border-radius: 4px;
  font-style: normal;
  font-family: inherit;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--second-text-color);

  }

  .button:hover, .button:focus{
    background: var(--button-background);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }


/* Секція - Головні переваги */
  .benef{
    padding-top: 94px;
    padding-bottom: 94px;
    
  }
  .benefits{
    display: flex;

  }

  .benefits > .item{
    width: 270px;
  }

  .benefits .item +.item{
    margin-left: 30px;
  }

  .title{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .text {
    margin: 0;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
  }
  
/* Секція - Чим ми займаємося */

  .caption {
    margin-bottom: 50px;

    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  .caption-section{
    padding-bottom: 94px;
  }


  .caption-img{
    display: flex;
  }

  .caption-img .item + .item{
    margin-left: 30px;
  }


/* Секція - Наша команда */

  .our-teem {
    background: var(--third-background);
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .card-set{
    display: flex;
    gap: 30px;
    /* padding-top: 50px; */
    margin-bottom: 0;
    margin-left: 0;
  
  
  }
  .card-set .item {
   background-color: var(--second-text-color); 
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
  }

  .paragraf{
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .lead {


    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  .post {
    margin-top: 10px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    
  }



/* --------footer-------- */

  .footer {
    background-color: var(--footer-background); 
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer-nav-mail, .footer-nav-tel, .footer-adr  {
    color: var(--footer-text-color); 
    text-decoration: none;  
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
  }

  .footer-adr {
    margin: 0;
    padding: 0;
    margin-top: 20px;

    color: var(--second-text-color);
  }

  .footer-adr li + li{ 
    margin-top: 9px;
  }

  .footer-nav-mail:hover, .footer-nav-tel:hover, .footer-adr:hover,
  .footer-nav-mail:focus, .footer-nav-tel:focus, .footer-adr:focus {
    color: var(--accent-color);
  }

  .foot-web{
    color: var(--second-text-color);
  }

  /* --------main portfolio-------- */

  .container-but{
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
  }

  .container-but .item +.item{
    margin-left: 8px;
  }

  .flex-container{
    display: flex;
    flex-wrap: wrap;
  }

  .flex-container  .item{

    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: var(--second-text-color);
    border: 1px solid #EEEEEE;
  }


  .flex-container .item:nth-child(3n) {
    margin-right: 0;
  } 

  .flex-container .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  } 

  .portfolio{
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: var(--second-text-color);

  }


  .headline {
 
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
  
  }

  .flex-container > li > .item:hover
  .flex-container > li > .item:focus{
    cursor: pointer;
  }

  a  {
    text-decoration: none;
    
  }

  .quote{
    padding-top: 4px;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--title-text-color);
  }

  .link-text {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
  }



    /* Кнопки на сторінці Портфоліо */

    .buttons {
      cursor: pointer;
      background: var(--third-background);
      border-radius: 4px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.62;
      font-family: inherit;
      text-align: center;
      border:none;
      letter-spacing: 0.03em;
      color: var(--primary-text-color);
    }
  
    .buttons:hover, .buttons:focus{
      background: var(--accent-color);
      color: var(--second-text-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  
    .one {
      padding: 6px 25px;
    }
  
    .two {
      padding: 6px 22px;
    }
  
    .three {
      padding: 6px 22px;
    }
  
    .four {
      padding: 6px 22px;
    }
  
    .five {
      padding: 6px 22px;
    }






  

